@font-face {
    /*
    font-family: 'BodoniMT';
    src: url('https://github.com/gaa23/gaa23/blob/main/scl/fonts/BodoniMT.ttf') format('truetype');
    src: url('https://github.com/gaa23/gaa23/blob/main/scl/fonts/Bodoni%20MT.eot');
    src: url('https://github.com/gaa23/gaa23/blob/main/scl/fonts/Bodoni%20MT.eot?#iefix') format('embedded-opentype');
    src: url('https://github.com/gaa23/gaa23/blob/main/scl/fonts/Bodoni%20MT.otf') format('opentype');
    src: url('https://github.com/gaa23/gaa23/blob/main/scl/fonts/Bodoni%20MT.woff') format('woff');
    src: url('https://github.com/gaa23/gaa23/blob/main/scl/fonts/Bodoni%20MT.woff2') format('woff2');
    src: url('https://github.com/gaa23/gaa23/blob/main/scl/fonts/Bodoni%20MT.svg') format('svg');
    }
    */

    /*as another option we can add : ?raw=true  to the end of the link */
   
    
    font-family: 'BodoniMT';
    src: url('https://github.com/gaa23/gaa23/blob/main/scl/fonts/BodoniMT.ttf?raw=true') format('truetype');
    src: url('https://github.com/gaa23/gaa23/blob/main/scl/fonts/Bodoni%20MT.eot?raw=true');
    src: url('https://github.com/gaa23/gaa23/blob/main/scl/fonts/Bodoni%20MT.eot?raw=true?#iefix') format('embedded-opentype');
    src: url('https://github.com/gaa23/gaa23/blob/main/scl/fonts/Bodoni%20MT.otf?raw=true') format('opentype');
    src: url('https://github.com/gaa23/gaa23/blob/main/scl/fonts/Bodoni%20MT.woff?raw=true') format('woff');
    src: url('https://github.com/gaa23/gaa23/blob/main/scl/fonts/Bodoni%20MT.woff2?raw=true') format('woff2');
    src: url('https://raw.githubusercontent.com/gaa23/gaa23/blob/main/scl/fonts/Bodoni%20MT.svg') format('svg');    
    
    }

     /*another option would be to see if .tff file can be reached as a raw url like this:

    font-family: 'BodoniMT';
    src: url('https://raw.githubusercontent.com/gaa23/gaa23/blob/main/scl/fonts/BodoniMT.ttf') format('truetype');
    src: url('https://raw.githubusercontent.com/gaa23/gaa23/blob/main/scl/fonts/Bodoni%20MT.eot');
    src: url('https://raw.githubusercontent.com/gaa23/gaa23/blob/main/scl/fonts/Bodoni%20MT.eot?#iefix') format('embedded-opentype');
    src: url('https://raw.githubusercontent.com/gaa23/gaa23/blob/main/scl/fonts/Bodoni%20MT.otf') format('opentype');
    src: url('https://raw.githubusercontent.com/gaa23/gaa23/blob/main/scl/fonts/Bodoni%20MT.woff') format('woff');
    src: url('https://raw.githubusercontent.com/gaa23/gaa23/blob/main/scl/fonts/Bodoni%20MT.woff2') format('woff2');
    src: url('https://raw.githubusercontent.com/gaa23/gaa23/blob/main/scl/fonts/Bodoni%20MT.svg') format('svg');

    }




*/
